/*
This is the css page for the about me part of the website. 
All this file does is change the look of the about me page so that it's not
just a bland, white screen.
*/

body {
    background-color: #d0c1a9;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1 {
    font-size: 70px;
    color: #34351d;
    
}

#intro {
    font-size: 25px;
    color: #34351d;
    
}

button {
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #d0c1a9;
    background-color: #34351d;
}

#table {
    font-size: 22px;
    color: #34351d;
}

p {
    font-size: 20px;
    color: #34351d;
}